@charset "utf-8";

/*-----------------------------------------------------
RESET
-------------------------------------------------------*/
*{
  font-size:100%;
  margin:0;
  padding:0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary{
  display:block;
}

h1,h2,h3,h4,h5,h6,caption,address,th{
  font-style:normal;
  font-weight:normal;
}

ul,ol,li,dl,dt,dd{
  list-style-type:none;
  list-style-position:outside;
}

table,th,td{
  vertical-align:top;
}

nav ul{
  list-style:none;
}

blockquote, q{
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content:'';
  content:none;
}

a{
  margin:0;
  padding:0;
  outline:none;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins{
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark{
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del{
  text-decoration:line-through;
}

abbr[title], dfn[title]{
  border-bottom:1px dotted #000;
  cursor:help;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

hr{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
img{
  border:0;
  vertical-align:top;
}
br{
  letter-spacing:0;
}
button,fieldset,form,input,label,legend,select,textarea{
  margin:0;
  padding:0;
  vertical-align:baseline;
  font-family:inherit;
  font-style:inherit;
  font-weight:inherit;
  font-size:100%;
}
input:focus,textarea:focus,select:focus{
  background:#d5dfff;
}
select{
  padding:2px;
  background:#FFF;
}
input,select{
  vertical-align:middle;
}
